

<!--<div class="justify-center items-center previewtable">-->
<!--<h1>Preview Table</h1>-->
<!--    <p-table-->
<!--        [value]="products"-->
<!--        styleClass="p-datatable-striped"-->
<!--        [tableStyle]="{'min-width': '50rem'}">-->
<!--        <ng-template pTemplate="header">-->
<!--            <tr>-->
<!--                <th>Code</th>-->
<!--                <th>Name</th>-->
<!--                <th>Category</th>-->
<!--                <th>Quantity</th>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-product>-->
<!--            <tr>-->
<!--                <td>{{product.code}}</td>-->
<!--                <td>{{product.name}}</td>-->
<!--                <td>{{product.category}}</td>-->
<!--                <td>{{product.quantity}}</td>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--    </p-table>-->
<!--</div>-->

<div class="justify-center gap-2 align-center textinput">
    <h1 class="mb-15">Enter Remarks Here</h1>
    <textarea
        rows="5"
        cols="50"
        pInputTextarea
        [(ngModel)]="value">
    </textarea>
</div>

<div class="flex genbutton justify-content-center">
    <p-button label="Generate" icon="pi pi-sparkles" />
</div>
