@import "primeng/resources/themes/md-dark-deeppurple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.genbutton {
    display : flex;
    align-items : center;
    justify-content: center;
    gap: 2rem;
    margin-top : 5vh;
    margin-bottom : 5vh;
}

.textinput {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homeclass {
    display: flex;
    flex-direction : column;
    gap : 5rem;
    margin-top : 5rem;
}

hr {
    margin-left: 5vh;
    margin-right : 5vh;
    border-color : #bf89c9;
}

.upload {
    margin-left: 5vh;
    margin-right : 5vh;
    justify-content : center;
    align-items: center;

}

@media screen and (max-width: 600px) {
    .upload {
        margin-left: 5vh;
        margin-right: 5vh;
    }
}

.p-menubar {
    position : fixed;
    width: 96%;
    left :0;
    margin-left: 2%;
    margin-right : 2%;
    z-index: 10000;
    /* From https://css.glass */
    background: rgba(30, 30, 30, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid #bf89c9;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::selection {
    background: #bf89c9;
    color: #f8f8f2;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bf89c9;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : #bf89c9;
    text-align : center;
}

.instructions {
    padding-left: 20vh;
    padding-right: 20vh;
    box-sizing: border-box;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    max-width: 80rem;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

app-root {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.mt-15 {
    margin-top: 5vh;
}

.mt-25 {
    margin-top: 25px;
}

.mb-15 {
    margin-bottom: 5vh;
}

.mb-25 {
    margin-bottom: 25px;
}

.wrap {
    flex-wrap: wrap;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.full-center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

