@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.homeclass {
    height : 100vh;
    display: flex;
    flex-direction : column;
    gap : 5rem;
    margin-top : 15vh;
}

hr {
    margin-left: 5vh;
    margin-right : 5vh;
    border-color : #5942a9;
}

.upload {
    margin-left: 5vh;
    margin-right : 5vh;
}

@media screen and (max-width: 600px) {
    .upload {
        margin-left: 5vh;
        margin-right: 5vh;
    }
}

.p-menubar {
    background: #18181b;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid #5942a9;
    margin-left: 5vh;
    margin-right: 5vh;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::selection {
    background: #5942a9;
    color: #f8f8f2;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5942a9;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : #5942a9;
}

.instructions {
    padding-left: 20vh;
    padding-right: 20vh;
    box-sizing: border-box;
    margin: 0;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

app-root {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.mt-15 {
    margin-top: 5vh;
}

.mt-25 {
    margin-top: 25px;
}

.mb-15 {
    margin-bottom: 5vh;
}

.mb-25 {
    margin-bottom: 25px;
}

.wrap {
    flex-wrap: wrap;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.full-center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
