<div class="homeclass">
    <div class="column gap-1 mt-15 align-center">
        <h1 class="">Instructions</h1>
        <p class="instructions">
            Welcome to the Synthetic Data Generator! Please upload a CSV file with the following columns:
            <strong>field_name</strong> (name of the field),
            <strong>data_type</strong> (e.g., integer, float, string),
            <strong>max_value</strong> (maximum value for numeric types),
            <strong>min_value</strong> (minimum value for numeric types), and
            <strong>probabilistic_distribution</strong> (e.g., normal, uniform).
            Example:
        </p>
        <pre class="instructions">
            field_name,data_type,max_value,min_value,probabilistic_distribution
            age,integer,100,0,uniform
            salary,float,200000,30000,normal
            name,string,,,,
            start_date,date,,,,
        </pre>
        <p class="instructions">
            Upload the CSV file to start generating synthetic data. Ensure your CSV has no missing headers or typos.
            You can also attach additional instructions for the llm in the remarks section.
        </p>
    </div>
    <!-- Upload button -->

    <app-upload-button></app-upload-button>
</div>
<div>
    <app-preview></app-preview>
</div>
